{% extends 'base.html' %}
{% block body %}


<div class="card-panel">
    <div class="panel-heading">
        <logo>Solicitações</logo>
    </div>
</div>

    {% for solicitacao in solicitacoes %}

    <div class="card-panel card-panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    Solicitado por: <span>{{ solicitacao.consumidor.nome_completo }}</span>
                    <span style="font-size: 8pt;">em < {{ solicitacao.criado_em }}</span> >
                </div>

                <div class="col-md-6" style="text-align: right;">
                    {% if solicitacao.status == 'A' %}
                        Aguardando aprovação...
                    {% elif solicitacao.status == 'C' %}
                        Confirmada
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>
                        Data: {{ solicitacao.data_solicitada }}
                    </p>
                    <logo style="font-size: 14pt;">
                        {{ solicitacao.servico_solicitado }}
                    </logo>
                </div>
            </div>

            {% if solicitacao.status == 'A' %}

                 <div class="row text-center">
                    <div class="col-md-12">
                        <a class="btn btn-sm btn-primary" href="{% url 'aceitar_solicitacao' solicitacao.id %}">
                            Aceitar
                        </a>
                        <a class="btn btn-sm btn-secondary red" href="{% url 'recusar_solicitacao' solicitacao.id %}">
                            Recusar
                        </a>
                    </div>
                 </div>

            {% endif %}

        </div>


    </div>
    {% endfor %}

{% endblock %}